* {
  box-sizing: border-box;
}
header{
    
    background-color: white;
    min-height: 95px;
}
div.container_nome{
    text-align: center;
    font-size: 30px;
    color: 962a2d;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 50px;  
}
nav.container_menu{
    background-color: #408cb0;
    text-align:center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 26px;
}
nav.container_menu a{
    text-decoration: none;
    color:#111;
    text-shadow:  1px 1px  #bbbbbbbb;
    padding: 15px;
}
nav.container_menu a:hover{
    font-style: italic;
    
}

div.corpo{
    background-color: white;
    min-height: 200px;
    margin: auto;
    padding: px;
}
div.container_ap{ 
    max-width: 900px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    
}
div.apresentação{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
div.foto{
    flex: 0 0 50%;
    max-width: 50%;
    max-height: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}
img.abc{
    border: 1px solid #fff;
    max-width: 100%; 
    vertical-align: middle;
    box-sizing: border-box;
}
div.titulo{
    text-align: justify;
    flex: 0 0 50%;
    max-width: 60%;
    width: 50%;
    min-height: 1px;
    padding-right: 0 px;
    padding-left: 0px;
    font-size: 17px;
   
}
div.foto_titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 700px;
    
}

/* Linha do Tempo da formação acadêmica */
div.con_timeline{ 
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2% 1%;
}
div.con_timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
div.con_left{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 0;
}
div.con_left::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
div.con_left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
div.con_right{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 50%;
}
div.con_right::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
    left:-16px;
}
div.con_right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
div.conteudo{
    padding: 10px 10px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


/* Conteúdo interno linha do tempo */
img.capelo{
    position: relative; 
}
div.text_FA{
    padding: 10px;
    text-align: center;
   
}
div.Mestrado{
    
    margin: auto;
    border-width:thick;
    border-style: double;
    border-color: black;
    box-sizing: border-box;
}
button{
    display: inline-block;
    border-radius: 4px;
    border-color: black;
    background-color: #408cb0;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span {
  cursor: pointer;
  display:flex;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}
button:hover span {
  padding-right: 20px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}

div.container_EP{ 
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    font-size: 20px;
    box-sizing: border-box;
    
}

div.flip{
    width: 450px;
    height: 100%;
    margin-left: 10px;
    perspective: 1000px;
}
div.flip:hover div.inner{
    border-width:thick;
    border-style: double;
    border-color: black;
    transform: rotateY(180deg);
}
div.inner{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}
div.front, div.back{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
div.front{
    padding-top: 80px;
    border-width:thick;
    border-style: double;
    text-align: center;
    color: black;
    margin: auto;
    
}
div.back {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    padding-top: 35px;
    transform: rotateY(180deg);
}


div.Hab{
    max-width: 1400px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    
    box-sizing: border-box;
}
div.container_cursos{
    position: relative;
    width: 49%;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 20px;
    float: left;
}
div.container_habpessoal{
    position: relative;
    width: 49%;
    padding-right: 5px;
    padding-left: 5px;
    
    padding-bottom: 20px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 20px;
    float: right;
}
div.container_Skills {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}
div.skills {
    
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
}
div.comunicacao {width: 90%; background-color: #4CAF50;} /* Green */
div.grupo {width: 90%; background-color: #4CAF50;} /* Green */
div.lideranca {width: 80%; background-color: #4CAF50;} /* Green */
div.html {width: 80%; background-color: #4CAF50;} /* Green */
div.css {width: 80%; background-color: #4CAF50;} /* Blue */
div.js {width: 60%; background-color: #2196F3;} /* Red */
div.php {width: 20%; background-color: #f44336;} /* Dark Grey */
div.C {width: 90%; background-color: #4CAF50;} /* Dark Grey */
div.Cpp {width: 80%; background-color: #4CAF50;} /* Dark Grey */
div.Csharp {width: 80%; background-color: #4CAF50;} /* Dark Grey */
div.java {width: 80%; background-color: #4CAF50;} /* Dark Grey */
div.Sc {width: 70%; background-color: #4CAF50;} /* Dark Grey */
div.haskell {width: 70%; background-color: #4CAF50;} /* Dark Grey */
div.prolog {width: 60%; background-color: #2196F3;} /* Dark Grey */
div.python {width: 50%; background-color: #2196F3;} /* Dark Grey */
div.unity {width: 80%; background-color: #4CAF50;} /* Dark Grey */
footer{
    background-color: #1c799d;
    height: 40px;
    padding: 10px;
    clear: both;
    
}
div.container_footer{ 
    max-width: 1300px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: justify;
    font-size: 20px;
    text-align: center; 
}

@media screen and (max-width: 800px) {
/* Place the timelime to the left */
  div.con_timeline::after {
    left: 36px;
  }

/* Full-width containers */
  div.con_left {
    width: 100%;
    padding-left: 50px;
    padding-right: 25px;
  }
   div.con_right {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  div.con_left::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
    div.con_right::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  div.con_left::after, div.con_right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  div.con_right {
    left: 0%;
  }

}
@media screen and (max-width: 1000px){
    div.container_cursos{
        width: 100%;
        text-align: justify;
        font-size: 20px;

    }
    div.container_habpessoal{
        width: 100%;
        text-align: justify;
        font-size: 20px;

    }
}


